body {
    height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 2px;
    background-color: rgba(245, 224, 0, 0.15);
}

.wrapper {
    width: 55%;
    margin: 0 auto;
    max-width: 560px;
}

.generator-container {
    background-size: cover;
    display: flex;
    height: 95vh;
    padding-top: 40px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90px;
    letter-spacing: 3px;
    line-height: 1.15;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -moz-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    -moz-text-stroke-color: #000;
    text-shadow: 6px 6px 0px rgba(234, 44, 165, 0.67);
    margin-top: 0;
    margin-bottom: 40px;
}

input[type=text], input[type=submit] {
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    border: 2px solid #333;
    letter-spacing: 2px;
}

.name-container {
    letter-spacing: 2px;
}

.slider-container {
    margin: 25px auto 20px auto;
    display: flex;
    justify-content: space-between;
    img {
        height: 60px;
        width: 60px;
        color: black;
    }
    .slider-div {
        width: 100%;
        margin: 5px 25px 0 25px;
    }
}

.dev-mode {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    input.dev-checkbox {
        height: 30px;
        width: 30px;
    }
    p {
        width: 90%;
        margin-top: 0;
        font-size: 18px;
        padding-top: 3px;
        padding-left: 10px;
    }
}

.button {
    width: 50%;
    margin: 0 auto;
    .submit {
        background-color: #fff;
        box-shadow: none;
        border: 2px solid #333;
        border-radius: 20px;
        color: #333;
        padding: 15px;
        margin-bottom: 20px;
    }
}

.output {
    font-size: 20px;
    height: 60px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-size: 12px;
    p {
        text-align: center;
    }
}

// MEDIA QUERIES

@media (max-width: 1135px) {
    h1 {
        font-size: 80px;
    }
}

@media (max-width: 1020px) {
    .wrapper {
        width: 70%;
    }
}

@media (max-width: 705px) {
    h1 {
        font-size: 70px;
        line-height: 1.1;
        -webkit-text-stroke-width: 2px;
        -moz-text-stroke-width: 2px;
    }
    .slider-container {
        .slider-div {
            margin: 5px 20px 0 20px;
        }
    }
    .dev-mode {
        input.dev-checkbox {
            height: 25px;
            width: 25px;
        }
    }
}

@media (max-width: 625px) {
    h1 {
        font-size: 60px;
        text-shadow: 4px 4px 0px rgba(234, 44, 165, 0.67);
    }
}

@media (max-width: 550px) {
    .wrapper {
        width: 90%;
        max-width: 385px;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 48px;
        letter-spacing: 2px;
    }
    .slider-container {
        .slider-div {
            margin: 5px 10px 0 10px;
        }
    }
}

@media (max-width: 360px) {
    .slider-container {
        margin-bottom: 15px;
    }
    .dev-mode {
        margin-bottom: 0;
    }
    .output {
        margin-top: 0;
    }
    body, input {
        font-size: 14px;
    }
}