// styling done through tool on http://danielstern.ca/range.css/#/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(48, 113, 169, 0);
  border-radius: 1.3px;
  border: 2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.1px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 3px;
  background: #34c3ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(48, 113, 169, 0);
  border-radius: 1.3px;
  border: 2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.1px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 3px;
  background: #34c3ff;
  cursor: pointer;
    &:focus {
        box-shadow: 2px 2px 2px pink, 2px 2px 2px pink;
    }
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(42, 100, 149, 0);
  border: 2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0);
  border: 2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.1px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 3px;
  background: #34c3ff;
  cursor: pointer;
  height: 16px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(54, 126, 189, 0);
}

