article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 2px;
  background-color: rgba(242, 92, 160, 0.3);
  background-color: rgba(245, 224, 0, 0.15); }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.generator-container {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 50px; }

h1 {
  text-align: center;
  /* font-family: 'Sonsie One', cursive; */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100px;
  letter-spacing: 3px;
  line-height: 1.15;
  /* color: #2e4999;
    color: #5eddeb; */
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -moz-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  -moz-text-stroke-color: #000;
  text-shadow: 6px 6px 0px white;
  text-shadow: 6px 6px 0px rgba(234, 44, 165, 0.67);
  margin-top: 0;
  margin-bottom: 40px; }

@media (max-width: 1315px) {
  h1 {
    font-size: 90px; } }

input {
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #333;
  letter-spacing: 2px; }

.name-container {
  letter-spacing: 2px; }

.slider-container {
  margin: 15px auto 10px auto; }

.dev-mode {
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 30px; }
  .dev-mode .dev-checkbox {
    height: 20px;
    width: 5%; }
  .dev-mode p {
    width: 90%;
    margin-top: 0; }

.button {
  width: 50%;
  margin: 0 auto; }
  .button .submit {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #333;
    border-radius: 20px;
    color: #333;
    padding: 15px;
    margin-bottom: 20px; }

.output {
  font-size: 20px; }

footer {
  text-align: center;
  font-size: 12px; }
  footer p {
    margin: 5px auto; }

.body-dev {
  background-color: #333;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 1px;
  color: #fff; }

.button-dev {
  letter-spacing: 1px; }
